! font settings
!
!Xft.antialias:	1
!Xft.autohint:	0
!Xft.dpi:	96
!Xft.hinting:	1
!Xft.hintstyle:	hintfull
!Xft.lcdfilter:	lcdd
!Xft.rgba:	rgb


! special
*.background:   #030303
*.backgroundalt:   #030303
*.foreground:   #ABB2BF
*.foregroundalt:   #ABB2BF
*.cursorColor:  #5C6370
*.highlightColor:#3A3F4B

! black
*.color0:       #0e0e16
*.color8:       #1c1c2d

! red
*.color1:       #e9546b
*.color9:       #dc6a7d

! green
*.color2:       #c5c7bf
*.color10:      #c5c7bf

! yellow
*.color3:       #d4c96c
*.color11:      #c7dc97

! blue
*.color4:       #8099e2
*.color12:      #99bad2

! magenta
*.color5:       #aa6ebc
*.color13:      #c79bd6

! cyan
*.color6:       #80e9d4
*.color14:      #97f3e0

! white
*.color7:       #8a9aa9
*.color15:      #c4c4c4

! other
URxvt.font              : xft:Hack:size=11

URxvt.perl-ext-common	: default,matcher,font-size,selection-to-clipboard
URxvt.scrollBar         : false
URxvt.internalBorder    : 15
URxvt.background	: #000000

URxvt.iso14755		: false

URxvt.keysym.C-equal:       font-size:increase
URxvt.keysym.C-parenright:  font-size:decrease
!URxvt.keysym.C-XXXX:  	    font-size:reset

!*.letterSpace       : 1
!*.cursorBlink       : 1
!*.cursorUnderline   : true
!*.geometry          : 65x10

!! matcher
URxvt.url-launcher	: /usr/bin/xdg-open
URxvt.matcher.button	: 1
